<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	{% include "inc_meta.html" %}
	<link rel="stylesheet" type="text/css" href="style/home.css">
	<script src="static/social.js"></script>
  </head>
  <body>
    <fb:login-button autologoutlink="true" scope="read_stream"></fb:login-button>

    {% if current_user %}
      <p>
	<a href="{{ current_user.profile_url }}">
	<img src="http://graph.facebook.com/v2.0/{{ current_user.id }}/picture?type=square"/></a>
      </p>
      <p>Hello, {{ current_user.name|escape }}</p>
    {% endif %}

    <div id="fb-root"></div> <!-- fb button -->
    
    <h2>Canvas style. Enjoy the videos you and your friends share on facebook like a TV</h2>

    {% if current_user %}
	    <div>
	    </div>
            <div>
		    <p>Now you can view <a href="/list">The videos that your friends shared</a></p>
		    <p>Or review <a href="/ownlist">your own videos shared by you</a></p>
		    <p>or  <a href="/advlist">the inestable version of the application.</a></p>
    {% endif %}


    {% include "inc_error.html" %}
    <script>
      window.fbAsyncInit = function() {
        FB.init({
		appId: '{{ facebook_app_id }}',
		version: 'v2.0',
		status: true,
		cookie: true,
                xfbml: true
		});
	
	FB.Event.subscribe('auth.authResponseChange', onAuthResponseChange);
	FB.Event.subscribe('auth.statusChange', onStatusChange);

      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/sdk.js&version=2.0';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>
    {% if friends %}
    <div id=friend_list>
	    <p> This is the list of your friends that are already using the app.</p>
	    <ul>
		    {% for friend in friends %}
		    <li>
		    <img src="{{ friend["picture"]["data"]["url"] }}" alt="picture of {{ friend["name"] }}" />
		    <span><a href="http://www.facebook.com/{{friend["id"]}}" target="_blank">{{ friend["name"] }}</a></span>
		    </li>
		    {% endfor %}
	    </ul>
    </div>
    {% endif %}

    <form name="tester" action="/canvas" method="post">
	inputdata:
	<input type="text" name="inputdata">
	<input type="submit" value="Submit">
    </form>

    {% if data %}
    <div>
	    {{ data|e }}
    </div>
    {% endif %}
    <div id=uservoice>
	{% include "inc_uservoice.html" %}
    </div>
{% include "inc_analytics.html" %}
  </body>
</html>
