<!DOCTYPE html>
<html lang="es">
<head>

{% include "inc_meta.html" %}
	
	<link rel="stylesheet" type="text/css" media="screen and (max-width:1900px)" href="style/home-0.4.css">	
    
</style>
</head>

<body>

	<div id="fb-root"></div> <!-- fb button -->
 
	<div id="header">
		<h1>FriendTube</h1>
		<div class="fb-like"
			data-href="http://friendtu.be"
			data-layout="standard" data-action="like"
			data-show-faces="true" data-share="true">
		</div>
		</div>
				    
	<div id="content">      

		<div id="user">

		    {% if current_user %}
		      <p>
			<a href="{{ current_user.profile_url }}">
			<img src="http://graph.facebook.com/v2.0/{{ current_user.id }}/picture?type=square"/></a>
		      </p>
		      <p>Hello, {{ current_user.name|escape }}</p>
		      <fb:login-button autologoutlink="true" scope="read_stream"></fb:login-button>
		    {% else %}
		      <p>
		      <a></a><img/><!-- @YOLI: esto esta aqui como chapuza porque cuando estas deslogueado el boton se descoloca-->
		      <fb:login-button autologoutlink="true" scope="read_stream"></fb:login-button>
		      </p>
		    {% endif %}
		</div>

	<div id="subtitle"><p class="text-leyend">
	Enjoy the videos you and your friends share on facebook like a TV 
	<br>
	Start playing one video and the rest will follow automaticlly
	</p> </div>

    {% if current_user %}
    <div id="text-corpse">
	    <div>
		    <!-- TODO: include some info for the user -->
	    </div>
            <div>
		    	<p class="text-box">Now you can view <a href="/withfriends">The videos and navigate among your friends</a>
			<p class="text-box">or <a href="/list">simply the videos</a>
		    	<br>Or review <a href="/ownlist">your own videos shared by you</a>
	    </div>
    <div><!-- corpse -->
    {% endif %}
    



    {% include "inc_error.html" %}
    <script>
      window.fbAsyncInit = function() {
        FB.init({
		appId: '{{ facebook_app_id }}',
		version: 'v2.0',
		status: true,
		cookie: true,
                xfbml: true
		});
        FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
          {% if current_user %} window.location = "/logout" {% else %} window.location.reload(); {% endif %}
        });
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/sdk.js&version=2.0';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>
    
{% include "inc_friendlisting.html" %}
{% include "inc_data.html" %}
{% include "inc_uservoice.html" %}

</body>
</html>
