
	<div id="user">
	    {% if current_user %}
	      <p>
		<a href="{{ current_user.profile_url }}">
		<img src="http://graph.facebook.com/v2.0/{{ current_user.id }}/picture?type=square"/></a>
	      </p>
	      <p>Hello, {{ current_user.name|escape }}</p>
		<div class="fb-login-button" data-max-rows="2" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true"></div>
	    {% else %}
	      <p>
		<div class="fb-login-button" data-max-rows="2" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true"></div>
	      </p>
	    {% endif %}
	</div><!-- user -->



