	<!--  hack to fix css detection on iOS (4?)  -->
	<META name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<META name="HandheldFriendly" content="true" />
	<!--  Smartphones  -->
	<link type="text/css" rel="stylesheet" media="screen and (min-device-width: 481px)" href="style/player_mobile-0.2b.css" />
	<link type="text/css" rel="stylesheet" media="only screen and (max-device-width: 480px)" href="style/mobile/smartphone-0.1.css" />
	<!--  Old phones  -->
	<link type="text/css" rel="stylesheet" media="handheld" href="style/mobile/oldphone-0.1.css" />
