<html>

<head>
{% include "inc_meta.html" %}
{% include "inc_headScripts.html" %}
</head>

<body class=" __plain_text_READY__">

<!-- This loads the YouTube IFrame Player API code -->
<script src="http://www.youtube.com/player_api"></script>

<h2>RadioFB</h2>
<h4>Start playing one video and the rest will follow automaticlly</h4>
<div id="user">
    {% if current_user %}
      <p>
	<a href="{{ current_user.profile_url }}">
	<img src="http://graph.facebook.com/v2.0/{{ current_user.id }}/picture?type=square"/></a>
      </p>
      <p>Hello, {{ current_user.name|escape }}</p>
    {% endif %}

</div>
<div id="content">
{% include "inc_error.html" %}
<div id="video-list">

<ul id="sortable">
{% if playlist %}
    {% for video in playlist %}
    <li>
    <span class="deleter"><img src="style/close.png" width="20px" /></span>
    <a class="fancybox fancybox.iframe" href="{{ video["link"]}}">{{ video["title"] }}
	    <br />
	    <img class="videopreview" src="{{ video["preview"] }}" />
    </a>
	    <p>Shared by 
			<span class="actor">{{ video["actor"].pop() }}</span>
	    {% if video["actor"].__len__() > 1 %}
	    	{% for friend in video["actor"] %}
			and <span class="actor">{{ friend }}</span>
		{% endfor %}
	    {% endif %}
	    </p>
	    <p>{{ video["created"] }}</p>
	    <p>{{ video["desc"]|e }}
	    </p>
	    <p id="compartir">Compartir
		    <span class="soc_net">en fb</span>
		    <span class="soc_net">en tuter</span>
		    <span class="soc_net">y otras mierdas</span>
	    </p>
    </li>
    {%endfor%}
{% endif %}
    </ul>
</div>
    
<div> <!-- content -->

<script>
//My functions to get user names
function httpGet(theUrl)
{
    var xmlHttp = null;

    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false );
    xmlHttp.send( null );
    return xmlHttp.responseText;
}

function getActorName(uid)
{
    url = "https://graph.facebook.com/"
    data = httpGet(url + uid)
    return JSON.parse(data)["name"]
}
	function actor_name(index,oldText){ return '' + getActorName(oldText) }
	//As per the testing done, this only works if its inside the body http://jsfiddle.net/wakaru44/rLLff/
	$( ".actor" ).text(actor_name)
</script>
    <div id=uservoice>
	{% include "inc_uservoice.html" %}
    </div>
</body>
</html>
