<!DOCTYPE HTML>
<html lang="es">
<head>
	
	<link rel="stylesheet" type="text/css" media="screen and (max-width:1900px)" href="style/player-0.2.css">	
    
</head>

<body>

    <div id="header"><h1>FriendTube</h1></div>
				    
	<div id="content">
		<div id="subtitle"><p class="text-leyend">Start playing one video and the rest will follow automaticlly</p>
		</div>
		<div id="section"> 
    		<div class="video">
    			<div class="video-box"></div>
    			<div class="text-box"><p class="text-video">
    			<span class="text-title">FriendTube</span>
    			<br>
    			Start playing one video and the rest will follow automaticlly</p></div>
    		</div>
    		<div class="video"></div>
    		<div class="video"></div>
		</div>
	</div>

</body>
</html>
