<!DOCTYPE HTML>
<html lang="es">
<head>
	{% include "inc_meta.html" %}
	{% include "inc_headScripts.html" %}
	
	<!-- specifiq style sheet for future player -->
	<link rel="stylesheet" type="text/css" media="screen and (max-width:1900px)" href="style/player-0.2c.css">	
    
	<!-- experiments with readmore -->
	<script src="static/readmore.min.js"></script>

</head>

<body class=" __plain_text_READY__">

<!-- This loads the YouTube IFrame Player API code -->
<script src="http://www.youtube.com/player_api"></script>

<div id="fb-root"></div> <!-- fb button -->

<div id="header"><h1>FriendTube</h1></div>
				    
<div id="content">
	{% include "inc_usertab.html" %} 

	<div id="subtitle"><p class="text-leyend">Start playing one video and the rest will follow automaticlly</p> </div>
<br>
<br>
<br>
		{% include "inc_error.html" %}
		{% include "inc_data.html" %}



	<ul id="sortable" id="section" > 
	{% if playlist %}
	    {% for video in playlist %}
	<li class="video">
	<div class="collapse">
	    <span class="deleter"><img src="style/close.png" width="40px" /></span>
		<div class="video-box">
		    <a class="fancybox fancybox.iframe text-title" href="{{ video["link"]}}">{{ video["title"] }}
			    <br />
			    <img class="videopreview" src="{{ video["preview"] }}" />
		    </a>
		    <p>Shared by 
				<span class="actor">{{ video["actor"].pop() }}</span>
				    {% if video["actor"].__len__() > 1 %}
					{% for friend in video["actor"] %}
						and <span class="actor">{{ friend }}</span>
					{% endfor %}
				    {% endif %}
		    </p>
		    <p>{{ video["created"] }}</p>
		    <p id="compartir">Compartir
			    <span class="soc_net">en fb</span>
			    <span class="soc_net">en tuter</span>
			    <span class="soc_net">y otras mierdas</span>
		    </p>
		</div><!-- video box -->

    			<div class="text-box">
			    <p class="text-video"> {{ video["desc"] }} </p>
			    <div class="comment_fb">

				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
				lorem ipsum dolor sit amet e
			    </div>
			    <div class="comment_vid">
				    <!-- not implemented yet. youtube info about the video-->
			    </div>
		</div><!-- text box -->
	    </div><!-- collapse -->
	    </li>
	    {%endfor%}
	{% endif %}
	 
	</ul>





	<script>
//////// Read More functionality
	$('.video').readmore({ maxHeight: 300 });
	// $('.video').readmore();
	</script>









	{% include "inc_user2name_translator.html" %}
	{% include "inc_uservoice.html" %}

</body>
</html>


